<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="OiniciodofimV2.Properties.Settings.o_inicio_do_fim_v2ConnectionString"
            connectionString="Data Source=NOTE-1322;Initial Catalog=o_inicio_do_fim_v2;Persist Security Info=True;User ID=dev_user;Password=devUser@450"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>