<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="OiniciodofimV2.Properties.Settings.o_inicio_do_fim_v2ConnectionString"
            connectionString="Data Source=CPX-RB4R4DB3MK6\SQLEXPRESS;Initial Catalog=o_inicio_do_fim_v2;persist security info=True;Integrated Security=SSPI;"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
  <appSettings>
    <add key="musicaFundo" value ="C:\Users\bruno.d.oliveira\Desktop\MyProjects\winformcsharp\OiniciodofimV2\assets\sound-background.wav"/>
  </appSettings>
</configuration>